<div id="wrapper">
  <main id="content" role="main">
  <header>
    <section>
      <h1>Our performance</h1>
      <p class="lead">
        Our statistics show you how government services are doing, like how much they cost to run and how many people use them.
      </p>
      <p class="lead">
        We show the latest information about a service as soon as it becomes available. This lets you see how particular services are doing right now.
      </p>
    </section>

    <aside>
      <h2>Get a dashboard</h2>
      <p>If you work on a government service, we can help you create a dashboard. Find out how your service is performing and how it can be improved.</p>
      <p>Email <a href="mailto:performance@digital.cabinet-office.gov.uk">performance@digital.cabinet-office.gov.uk</a></p>
    </aside>
  </header>

  {{{ serviceDashboard }}}
  {{{ overviewDashboard }}}
  {{{ activityDashboard }}}
  {{{ transactionsExplorer }}}

  </main>
</div>
